<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light pt-1">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
                    <a href="/Home/Index" class="navbar-brand fw-bold">
                        <span class="fs-4 d-none d-sm-inline text-black-50">Food Corner</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link align-middle px-0">
                                <i class="bi bi-card-checklist fs-4"></i> <span class="ms-1 d-none d-sm-inline">Category</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/Index" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Product</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav pb-4" style="list-style:none;">
                        <partial name="_loginInfo"></partial>
                    </ul>
                </div>
</div>